.green {
    background-color: darkgreen !important;
    color: white;
}
.cent {
    text-align: center;
}
.bg {
    background-color: #8cce9c;
}
.bodie {
    background-color: #005113 !important;
}
.w {
    color: white;
}